@page
@model SimpleRazorPageApp.Pages.MissingModel
@{
    ViewData["Title"] = "Missing page";
}

<h1 class="text-danger">404 error page</h1>
<h2 class="text-danger">Opps! The page you have requested is missing.</h2>